* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 3em;
}

.lista {
    list-style: none; 
    width: 20%;
}

.cFlex {
    display: flex;
}

.aripto {
    margin: 0 10%;

    flex-direction: column;
}

.header {
    width: 100%;
    height: 150px;
    color: rgb(100, 100, 100);
    margin-bottom: 100px;

    justify-content: space-between;
    align-items: center;
}

.mainContenedor {
    flex-direction: column;
    width: 100%;
}

.productos {
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 30px;

    width: 100%;
}

.item {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 200px;
    border: 4px solid rgb(173, 173, 173);
    border-radius: 20px;
}

.titulo {
    font-size: 1em;
}

.subtitulo {
    font-size: 0.8em;
}

.precio {
    font-size: 0.6em;
}