/* fonts */
/* //////////////////////////////////////////////////////////////////////////////// */
@font-face {
    font-family: "inter-light-italic";
    src: url(../fonts/InterWeb/Inter-LightItalic.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "inter-extralight-italic";
    src: url(../fonts/InterWeb/Inter-ExtraLightItalic.woff2) format("woff2");
    font-display: swap;
  }
  /* //////////////////////////////////////////////////////////////////////////////// */
  :root {
    --font-header: inter-light-italic;
    --font-texto: inter-extralight-italic;
  }
  
/* //////////////////////////////////////////////////////////////////////////////// */