@import './cards';
@import './general';
@import '../componentes/main';
@import '../componentes/header';
@import '../pages/itemCompra';
@import '../pages/cart';


/* mediaQuery */
/* //////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 1800px) {
    .containerBody {
        justify-content: center;
        flex-grow: 1;

        @include pagina;

        @include main;

        @include card;

        // @include fotoItemCompra;

        // @include tituloItemCompra;

        // @include descItemCompra;

        // @include btn;

        @include itemCompra;

        @include carritoEl;
    }

    @include menuHam;
}   

@media screen and (max-width: 1800px) and (min-width: 1200px) {
    .containerBody {
        justify-content: center;

        @include main1200;

        @include pagina1200;

        @include card1200;  
    }
}
/* //////////////////////////////////////////////////////////////////////////////// */