/* Variables */
/* //////////////////////////////////////////////////////////////////////////////// */
:root {
    --cursorx: 0px;
    --cursory: 0px;
    --size: 10px;
    --backgroundColor: rgb(10, 9, 17);
}
/* //////////////////////////////////////////////////////////////////////////////// */