/* fonts */
/* //////////////////////////////////////////////////////////////////////////////// */
@font-face {
  font-family: "inter-light-italic";
  src: url(../fonts/InterWeb/Inter-LightItalic.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter-extralight-italic";
  src: url(../fonts/InterWeb/Inter-ExtraLightItalic.woff2) format("woff2");
  font-display: swap;
}
/* //////////////////////////////////////////////////////////////////////////////// */
:root {
  --font-header: inter-light-italic;
  --font-texto: inter-extralight-italic;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Variables */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* general */
/* //////////////////////////////////////////////////////////////////////////////// */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.cFlex {
  display: flex;
}

.containerBody {
  justify-content: center;
  flex-grow: 1;
}

.lb {
  color: white;
}

.textoHeader {
  font-family: var(--font-header);
  font-size: 2rem;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* cards */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* header */
/* //////////////////////////////////////////////////////////////////////////////// */
.containerHeader {
  width: 100%;
  height: 165px;
  align-items: center;
}
.containerHeader .header {
  align-items: center;
  width: 100%;
  height: 36px;
}
.containerHeader .header .botonHam {
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
.containerHeader .header .menuOp {
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  width: 50%;
}
.containerHeader .header .menuOp .menuOpTodo {
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* main */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* cards */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* general */
/* //////////////////////////////////////////////////////////////////////////////// */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.cFlex {
  display: flex;
}

.containerBody {
  justify-content: center;
  flex-grow: 1;
}

.lb {
  color: white;
}

.textoHeader {
  font-family: var(--font-header);
  font-size: 2rem;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* main */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* header */
/* //////////////////////////////////////////////////////////////////////////////// */
.containerHeader {
  width: 100%;
  height: 165px;
  align-items: center;
}
.containerHeader .header {
  align-items: center;
  width: 100%;
  height: 36px;
}
.containerHeader .header .botonHam {
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
.containerHeader .header .menuOp {
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  width: 50%;
}
.containerHeader .header .menuOp .menuOpTodo {
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* mediaQuery */
/* //////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 1800px) {
  .containerBody {
    justify-content: center;
    flex-grow: 1;
  }
  .containerBody .containerMain {
    width: 100%;
    height: 750px;
    justify-content: center;
    align-items: center;
  }
  .containerBody .containerObras {
    margin-top: 165px;
    width: 1600px;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    flex-grow: 1;
    border: 1px solid red;
  }
  .containerBody .containerObras .obra {
    width: 780px;
    height: 780px;
    background-color: gray;
  }
  .containerBody .pagina {
    max-width: 1760px;
    flex-basis: 1760px;
    margin: 0 80px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1200px) {
  .containerBody {
    justify-content: center;
  }
  .containerBody .containerMain {
    width: 100%;
    height: 750px;
    margin: 0 5%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
  }
  .containerBody .pagina {
    width: 100%;
    margin: 0 5%;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
  }
  .containerBody .containerObras {
    display: none;
  }
}
/* //////////////////////////////////////////////////////////////////////////////// */

/*# sourceMappingURL=style.css.map */
