@import '../base/variables';

/* itemcompra */
/* //////////////////////////////////////////////////////////////////////////////// */
@mixin itemCompra {
    .containerItem {
        width: 100%;
        height: 767px;

        margin-top: 40px;

        justify-content: center;
        align-items: center;

        .containerCompra {
            width: 100%;
            height: 100%;

            .containerFotoO {
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: flex-start;
    
                .fotoO {

                    .containerImg {
                        width: 767px;
                        height: 767px;
                        
    
                        .imgO {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                            border-radius: 2rem;
                        }
                    }
                }
            }
    
            .containerContenido {
                width: 100%;
                height: 100%;


                flex-direction: column;
                justify-content: space-between;

                .con1 {
                    .containerTituInfo {
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: space-between;
                        
                        .containerTP {
                            width: 100%;
                            align-items: flex-start;
    
                            .tituloO {
                                width: 100%;
    
                                .nombreO {
                                    justify-content: flex-start;
                                    word-wrap: break-word;
                                }
                                
                                .tm {
                                    font-size: 7rem;
                                }
                            }
                        }
    
                        .containerDim {
                            width: 100%;
                        }
                    }  
                    
                    .containerDesc {
                        width: 100%;
                        margin-top: 40px;
                        .descO {
                            width: 100%;
                            .desContainer {
                                width: 100%;                                
                                .dp {
                                    width: 100%;
                                }
                            }
                        }
                    }
    
                }
            
                .con2 {
                    .containerBtn {
                        width: 100%;
                        .btoO {
                            width: 100%;               
                            .btnContainer {
                                width: 100%;
                                justify-content: space-between;                   
                                .btn1 {
                                    width: 400px;
                                    height: 100px;

                                    .buton1 {
                                        position: relative;
                                        width: 100%;
                                        height: 100%;
                                        // border-radius: 1rem;
                                        background-color: white; 
                                        color: black;
                                        border: 1px solid white;                  
                                        justify-content: center;
                                        align-items: center; 
                                        transition: all .2s;
                                       
                                        .tb1 {
                                            position: relative;
                                            z-index: 2;
                                        }

                                        &:hover {
                                            color: white;
                                        }

                                        &:after {
                                            position: absolute;
                                            content: "";
                                            // top: 0;
                                            right: 0;
                                            bottom: 0;

                                            width: 100%;
                                            height: 0;
                                            background-color: var(--backgroundColor);
                                            transition: all .2s;
                                        }

                                        &:hover::after {
                                            height: 100%;
                                        } 
                                    }
                                }
                                .btn2 {
                                    width: 400px;
                                    height: 100px;

                                    .buton2 {
                                        position: relative;
                                        width: 100%;
                                        height: 100%;
                                        border: 1px solid rgb(81, 255, 150);
                                        background-color: rgb(81, 255, 150);  
                                        color: black;                
                                        justify-content: center;
                                        align-items: center;                   
                                        .tb2 {
                                            position: relative;
                                            z-index: 2;
                                        }

                                        &:hover {
                                            color: rgb(81, 255, 150);
                                        }

                                        &::after {
                                            position: absolute;
                                            content: "";
                                            // top: 0;
                                            right: 0;
                                            bottom: 0;

                                            width: 100%;
                                            height: 0;
                                            background-color: var(--backgroundColor);
                                            transition: all .2s;
                                        }

                                        &:hover::after {
                                            height: 100%;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* //////////////////////////////////////////////////////////////////////////////// */